body {
    background-color:#edf6ff;
}

h1 {
    color: white;
    font-size: bold;
    background-color: #286FB4;
    padding: 10px;
    text-align: center;
}

h2 {
    color: black;
}

p {
    color:#111;
    /*border: 2px solid black;*/
    font-family:Arial;
    /*padding: 10px;*/
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background: color #FFFFFF;;
}

li {
    float:left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   /* border: solid black;*/
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: white;
    background-color:#286FB4;
  }

  nav {
    font-size: 16pt
  }

  hr {
    border-top: 3px solid black;
  }

  table, th, td {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }

  .pink {
    color: pink;
  }